<h2>found on</h2>
<a href="mailto:michael@moorberry.net" rel="tooltip" title="Email Michael"><img src="/images/glyphicons_399_e-mail.png" alt="email icon" class="social_icon"></a>

{% if site.github_user %}
<a href="https://github.com/{{site.github_user}}/" rel="tooltip" title="Github"><img class="social_icon" title="Github" alt="github icon" src="{{ root_url }}/images/glyphicons_381_github.png"></a>
{% endif %}

{% if site.stackoverflow_user %}
<a href="http://stackoverflow.com/users/{{site.stackoverflow_user}}/" rel="tooltip" title="Stack Overflow"><img class="social_icon" title="Stack Overflow" alt="stack overflow icon" src="{{ root_url }}/images/glyphicons_400_stack_overflow.png"></a>
{% endif %}

{% if site.linkedin_user %}
<a href="http://www.linkedin.com/in/{{site.linkedin_user}}" rel="tooltip" title="Linkedin"><img class="social_icon" title="Linkedin" alt="Linkedin icon" src="{{ root_url }}/images/glyphicons_377_linked_in.png"></a>
{% endif %}

{% if site.twitter_user %}
<a href="http://twitter.com/{{site.twitter_user}}" rel="tooltip" title="Twitter" target="_blank"><img class="social_icon" title="Twitter" alt="Twitter icon" src="{{ root_url }}/images/glyphicons_391_twitter_t.png"></a>
{% endif %}

{% if site.googleplus_user %}
<a href="https://plus.google.com/{{site.googleplus_user}}?rel=author" rel="tooltip" title="Google Plus"><img class="social_icon" title="Google Plus" alt="Google Plus icon" src="{{ root_url }}/images/glyphicons_386_google_plus.png"></a>
{% endif %}

{% if site.quora_user %}
<a href="http://www.quora.com/{{site.quora_user}}" rel="tooltip" title="Quora"><img class="social_icon" title="Quora" alt="Quora icon" src="{{ root_url }}/images/glyphicons_385_quora.png"></a>
{% endif %}

{% if site.email %}
<h2>contact at</h2>
<a href="mailto:{{ site.email }}">{{ site.email }}</a>
{% endif %}

<a href="https://github.com/michaelminter/" rel="tooltip" title="Github" target="_blank"><img class="social_icon" title="Github" alt="github icon" src="/images/glyphicons_381_github.png"></a>
<a href="http://stackoverflow.com/users/388253/michael-minter" rel="tooltip" title="Stack Overflow" target="_blank"><img class="social_icon" title="Stack Overflow" alt="stack overflow icon" src="/images/glyphicons_400_stack_overflow.png"></a>
<a href="http://www.linkedin.com/in/mminter" rel="tooltip" title="Linkedin" target="_blank"><img class="social_icon" title="Linkedin" alt="Linkedin icon" src="/images/glyphicons_377_linked_in.png"></a>
<!--a href="https://plus.google.com/110730291563876857467" rel="tooltip" title="Google Plus"><img class="social_icon" title="Google Plus" alt="Google Plus icon" src="/images/glyphicons_386_google_plus.png"></a-->

<br /><br /><br />

<a href="http://stackoverflow.com/users/388253/michael-minter" target="_blank">
<img src="http://stackoverflow.com/users/flair/388253.png" width="170" alt="profile for Michael Minter at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Michael Minter at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a>