<h2>personal projects</h2>
<dl class="dl-horizontal">
  <dt><a href="http://captiveinverts.com" target="_blank" alt="Captive Inverts" title="Captive Inverts">Captive Inverts</a></dt>
  <dd>Storefront and information portal for tarantulas and other invertebrates.</dd>

  <dt><a href="http://fracture.it" target="_blank" alt="Fracture.it" title="Fracture.it">Fracture.it</a></dt>
  <dd>Sinatra application supporting a base64 URL shortening algorithm</dd>

  <dt><a href="http://codekindness.com" target="_blank" alt="Code Kindness" title="Code Kindness">CodeKindness</a></dt>
  <dd>A team of developers providing their time to communities and non-profit organizations around the world.</dd>
</dl>