<h2>recent projects</h2>
<dl class="dl-horizontal">
  <dt><a href="https://github.com/michaelminter/pwdapp" target="_blank">Pwdapp</a></dt>
  <dd>Password Regeneration and Synchronization Daemon</dd>
  <dt><a href="http://fracture.it" target="_blank">Fracture.it</a></dt>
  <dd>Sinatra application supporting URL shortening</dd>
  <dt><a href="http://coderwall.com" target="_blank">CodeKindness</a></dt>
  <dd>A team of developers providing their skills to communities and nonprofit organizations around the world.</dd>
</dl>