<p class="pull-left">
  All content is under Copyright &copy; 2010-{{ site.time | date: "%Y" }} by the individual authors of this blog and is released<br />under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Attribution-Noncommercial-Share Alike 3.0 Unported</a> license.<br />
  If you have any questions, please contact the author of the material you are interested in using.
</p>
<p class="pull-right">
  <span>Powered by <a href="http://octopress.org/">Octopress</a>.</span>
  {% unless site.hide_design_credits %}
    <!--span>Design by <a href="http://www.AdrianArtiles.com">Adrian Artiles</a>.</span-->
  {% endunless %}
</p>
