<div id="main-nav">
    <nav>
        <ul>
        	<li>
            {% include asides/recent_posts.html %}
          </li>
          <li>
            {% include asides/google_ad.html %}
          </li>
          <li>
            {% include custom/asides/category_cloud.html %}
          </li>
          <li>
            {% include asides/coderwall.html %}
        	</li>
        	<li>
        		<ul>
              <li>Linkedin - <a href="https://www.linkedin.com/profile/view?id=62607318" target="_blank">linkedin.com/profile</a></li>
        			<li>Github - <a href="http://www.github.com/michaelminter" target="_blank">github.com/michaelminter</a></li>
              <li>Twitter - <a href="http://www.twitter.com/mothore" target="_blank">@mothore</a></li>
              <li>Email - <a href="mailto:michael@moorberry.net" target="_blank">michael at moorberry</a></li>
        		</ul>
        	</li>
          <li>
            {% include asides/github.html %}
          </li>
        </ul>
    </nav>
</div>
