<div class="row" id="header-widgets">
    <div class="span3">
      <a href="http://codekindness.com" target="_blank"><img src="http://codekindness.com/images/codekindness_logo_bottom.jpg"></a>
    </div>
    <div class="span3">
      <a href="http://missinghippo.com" target="_blank"><img src="/images/projects/missinghippo.png"></a>
    </div>
    <div class="span3">
      <a href="http://captiveinverts.com" target="_blank"><img src="/images/projects/captiveinverts.png"></a>
    </div>
    <div class="span3 text-center">
      <a href="http://fracture.it" target="_blank"><img src="/images/projects/fracture.png"></a>
    </div>
</div>
